.mainContainer {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
}

.headerTitle {
  font-size: 40px;
  padding: 20px;
}

.headerLogo {
  padding: 20px;
}

.body {
  display: flex;
  flex-direction: column;
}

.inputRow {
  padding: 20px;
  font-size: 24px;
  background-color: #e6e6e6;
}

.inputRowlabel {
  padding: 20px;
}

input[type='checkbox'] {
  -webkit-appearance:none;
  width:24px;
  height:24px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
  padding-right: 10px;
}

input[type='checkbox']:checked {
    background: #000;
}

input[type=submit] {
  width:24px;
  height:24px;
}

#fh5co-page {
  z-index: 2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas-visible #fh5co-page {
  -moz-transform: translateX(-275px);
  -webkit-transform: translateX(-275px);
  -ms-transform: translateX(-275px);
  -o-transform: translateX(-275px);
  transform: translateX(-275px);
}

#fh5co-header {
  width: 100%;
  margin: 0;
  background:url(pw_maze_black_2X.png) left top repeat;
}

@media screen and (max-width: 768px) {
  #fh5co-header {
    margin: 0px 0 0 0;
  }
}

#fh5co-header .header-inner {
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 50%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

#fh5co-header h1 {
  float: left;
  padding: 0;
  font-weight: 700;
  line-height: 0;
  font-size: 30px;
  color: #fff;
  margin: 40px 0 40px 0;
}

#fh5co-header h1 a {
  position: relative;
  color: #fff;
}

#fh5co-header h1 a:hover, #fh5co-header h1 a:active, #fh5co-header h1 a:focus {
  text-decoration: none;
  outline: none;
}

#fh5co-header nav {
  float: right;
  padding: 0;
  margin: 32px 0 32px 0;
}

#fh5co-header nav ul {
  padding: 0;
  margin: 0 -0px 0 0;
  line-height: 0;
}

#fh5co-header nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#fh5co-header nav ul li a {
  color: #DCDCDC;
  font-size: 18px;
  padding: 10px;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#fh5co-header nav ul li a i {
  line-height: 0;
  font-size: 20px;
  position: relative;
  top: 3px;
}

#fh5co-header nav ul li a:after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 7px;
  left: 10px;
  right: 10px;
  background-color: #27E1CE;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#fh5co-header nav ul li a:hover {
  text-decoration: none;
  color: #27E1CE;
}

#fh5co-header nav ul li a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

#fh5co-header nav ul li a:active, #fh5co-header nav ul li a:focus {
  outline: none;
  text-decoration: none;
}

#fh5co-header nav ul li.cta {
  margin-left: 20px;
}

#fh5co-header nav ul li.cta a {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  border: 2px solid #27e1ce;
  color: #27E1CE;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}

#fh5co-header nav ul li.cta a:hover {
  color: #fff;
  background: #27E1CE;
}

#fh5co-header nav ul li.cta a:hover:after {
  display: none;
}

#fh5co-header nav ul li.active a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

#fh5co-header nav ul li.active a:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

#fh5co-services-section {
  padding-top: 2em;
  padding-right: 2em;
  display: flex;
  flex-wrap: wrap;
}

#fh5co-services-section .services {
  position: relative;
}
#fh5co-services-section .services i {
  font-size: 75px;
  margin-left: 50px;
  color: #27E1CE;
}
#fh5co-services-section .services .desc {
  margin-left: 120px;
  flex: 1;
}

#fh5co-services-section .services .desc h3 {
  font-size: 18px;
}

#fh5co-services-section .services .desc p {
  font-size: 15px;
  color: #A9A9A9;
}

.fh5co-services {
  margin-top: 4em;
}

.footer {
  display: flex;
  flex-direction: row;
}

.selectAllButton {
  padding-left: 50px;
  justify-content: flex-start;
}

.clearAllButton {
  padding-left: 20px;
  justify-content: flex-end;
}